[build-system]
requires = [
    "setuptools >= 67.8.0",
    "wheel>=0.42.0",
    "build>=1.0.3",
    "twine>=4.0.2",
    "textual-dev>=1.5.1"
]
build-backend = "setuptools.build_meta"
[project]
name = "SuricataLog"
version = "1.0.1"
authors = [
    {name = "Jose Vicente Nunez", email = "kodegeek.com@protonmail.com"},
]
maintainers = [
    {name = "Jose Vicente Nunez", email = "kodegeek.com@protonmail.com"},
]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Programming Language :: Python"
]
dynamic = ["dependencies"]
description = "Scripts to display contents of Suricata eve.json log"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.9"
license = {file = "LICENSE"}
keywords = ["suricata", "log", "eve"]
[project.urls]
Repository = "https://github.com/josevnz/SuricataLog"

[tool.setuptools.packages.find]
where = ["."]
exclude = ["test*"]

[tool.setuptools]
include-package-data = true

[tool.setuptools.package-data]
"suricatalog" = ["css/*.tcss"]

[project.scripts]
eve_json = "suricatalog.scripts.eve_json:main"
eve_log = "suricatalog.scripts.eve_log:main"

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}
